.reviews {
   &-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 60px;
      &__body {
         max-width: 680px;
      }
      &__img {
         max-width: 169px;
         height: 169px;
         border-radius: 50%;
         object-fit: cover;
      }
      &__title {
         color: #0d0d0d;
         font-size: 18px;
         font-weight: 700;
         line-height: 18px; /* 100% */
      }
      &__subtitle {
         color: #646464;
         font-size: 14px;
         font-weight: 500;
      }
      &__descr {
         margin-top: 10px;
         color: #0d0d0d;
         font-size: 16px;
         font-weight: 300;
         line-height: 24px; /* 150% */
      }
   }
}
